#zammad-feedback-form {
  position: fixed;
  right: 0;
  bottom: 0;
}

.zammad-form {
  display: flex;
  flex-direction: column;

  .zammad-form-group {
    color: #333;

    .zammad-form-control {
      font-size: 1rem;
      padding: 2px;
    }
  }

  .btn {
    @extend .button;
    @extend .is-info;
    margin: auto;
    padding-bottom: calc(0.5em - 1px) !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    padding-top: calc(0.5em - 1px) !important;
    color: white !important;
    background-color: $light_blue !important;

    &:hover, &:focus {
      color: white !important;
      background-color: $dark_blue !important;
    }
  }
}

.feedback-button {
  color: white;
  background-color: $light_blue;

  &:hover, &:focus {
    color: white;
    background-color: $dark_blue;
  }
}
