.panel-container {
  position: relative;

  &>.dropdown {
    position: absolute;
    top: 1px;
    right: 15px;
  }
}

.dropdown {

  .dropdown-trigger {
    button {
      padding: 0;
      background: none;
      border: none;
    }
  }

  .tooltip-content {
    min-width: 14rem;
    pointer-events: auto;
  }

  .tooltip-icon {
    pointer-events: all;
  }

  .tooltip-below {
    top: calc(100% - 28px);
    bottom: unset;
    padding-top: 16px;
  }

  .tooltip-above {
    bottom: calc(100% - 28px);
    top: unset;
    padding-bottom: 16px;
  }

  .dropdown-content .dropdown-item a {
    text-decoration: underline;
  }
}
